/* Custom style sheet for Daphnes_Restaurant/site/
    > index.html
    > lunch-menu.html
    > dinner-menu.html
    > set-menu.html
    > contact.html
    > terms-and-conditions.html

    Author: Haruka Ichinose
    Date of creation: 25/08/2020
*/

/* --Start of index.html styles--------------------- */
body {
  font-family: 'Montserrat', sans-serif;
}

.dummy-block {
  height: 68px;
}

.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}

.container-fluid.main-start {
  padding-top: 2%;
}

nav.navbar {
  background-color: rgba(157, 0, 0, 0.9);
  padding-top: 6px;
  padding-bottom: 6px;
}

nav.navbar .row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

nav #logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav #menuBarToggler {
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0; 
}

nav .navbar-toggler {
  font-size: 1rem;
  padding: 0.15rem 0.5rem;
}

nav #phoneIcon {
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
}

#phoneIcon a {
  border: none;
}

#navbarButtons .navbar-nav, #copy h1 {
  white-space: nowrap;
}

#navbarButtons {
  text-align: center;
  font-size: 24px;
}

#navbarButtons ul {
  height: 100vh;
}

.nav-item hr {
  border-top: 3px solid white;
}

.nav-item .dropdown-menu {
  padding: 0px;
  text-align: center;
  font-size: 22px;
}

#navOrderButton {
  background: none;
  border: none;
  font-size: 24px;
}

#hero {
  background-color: #212529;
  margin-bottom: 15px;
  padding-bottom: 2%;
}

.carousel-indicators li {
  background-color: #212529;
}

.carousel-control-prev i, .carousel-control-next i {
  color: #212529;
}

#copy {
  text-align: center;
  margin: auto 0px;
}

#copy h1 {
  font-size: 22px;
  color: #8B7A53;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

#heroButton {
  margin-top: 2%;
  white-space: nowrap;
}

#heroButton a {   /* Buttons on the Jumbotron */
  color: white;
  background-color: #8B7A53;
  border: none;
  font-size: 14px;
}

#heroButton a:hover {
  background-color: #695F40;
}

#homeInfo {
  padding-bottom: 15px;
}

#custormerReview {
  position: relative;
}

#homeInfo h2 {
  font-size: 23px;
  font-weight: bold;
}

#custormerReview i {
  color: #8B7A53;
  opacity: 0.5;
}

#custormerReview .icon-quote-left {
  position: absolute;
  top: 10%;
  left: 0;
}
#custormerReview .icon-quote-right {
  position: absolute;
  right: 0;
  bottom: 10%;
}

#custormerReview p {
  font-size: 18px;
  font-style: italic;
}

.open-hours ul {
  list-style-type: none;
  padding-left: 0px;
  font-size: 18px;
}

.open-hours li span {
  font-size: 15px;
}

#aboutUs {
  background: url('../image/aboutUsBgi.jpg') no-repeat center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}

#aboutUs .about-us-content {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5%;
}

#aboutUs h3 {
  font-size: 23px;
  font-weight: bold;
}

#aboutUs p {
  font-size: 18px;
}

#missionStatement {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  text-align: center;
  font-style: italic;
  background-color: #8B7A53;
  color: white;
}

footer {
  font-size: 11px;
  text-align: center;
  background-color: black;
  padding: 10px 5%;
  color: white;
}

footer span, footer a {
  color: grey;
}

footer a:hover, footer a:active {
  color: white;
  text-decoration: none;
}

.social-media-links a {
  color: white;
}
/* --End of index.html styles----------------- */

/* --Start of dinner-menu.html and lunch-menu.html styles---- */
.container-fluid.main-start.menu-container {
  padding-left: 0;
  padding-right: 5px;
  max-width: 940px;
  margin-left: 0;
}

.menu-container .row {
  margin-left: 0;
  margin-right: 0;
}

#verticalMenuNav {
  padding-left: 0;
  padding-right: 0;
}

#verticalMenuNav h1 {
  font-size: 16px;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}

#verticalMenuNav h1, #switchMenu {
  text-align: center;
}

#v-pills-tab {
  border: 2px solid #343A40;
}

#v-pills-tab .nav-link {
  width: 100%;
  font-size: 11px;
  background-color: white;
  color: #343A40;
  border-radius: 0;
  padding: 4% 5%;
}

#v-pills-tab .nav-link:hover {
  background-color: grey;
}
#v-pills-tab .nav-link.active {
  background-color: #343A40;
  color: white;
}

#switchMenu {
  margin-top: 5%;
  font-size: 8px;
}

#switchMenu a {
  color: #8C6500;
}

#v-pills-tabContent {
  padding-left: 0;
  padding-right: 0;
}

#v-pills-tabContent .tab-pane img {
  width: 100%;
}

#goToTop a {
  color: #8C6500;
  text-decoration: underline;
  font-size: 12px;
}

footer.menu-footer {
  text-align: left;
  font-size: 11px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

#menuDownload {
  font-size: 12px;
}
/* --End of menu.html styles----------- */

/* --Start of contact.html styles-------- */
.contact-container h5 {
  font-weight: bold;
  font-size: 23px;
}

#contactDetailsList, #location p {
  font-size: 18px;
}

#contactDetailsList {
  list-style-type: none;
  padding-left: 0;
}

#contactDetailsList a {
  color: #212529;
  text-decoration: underline;
  cursor: pointer;
}

footer.contact-footer {
  font-size: 11px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

/* --End of contact.html styles----------------- */

/* --Start of terms-and-conditions.html styles------ */
.legal-statement.container-fluid {
  max-width: 935px;
  margin-left: 0;
}
/* --End of terms-and-conditions.html styles---------*/


/* --Media query----------------------------------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #heroButton a {
  font-size: 23px
  }
  #verticalMenuNav h1 {
  font-size: 22px;
  }
  #switchMenu {
  font-size: 12px;
  }
  #v-pills-tab .nav-link, #menuDownload {
  font-size: 14px;
  }
  #goToTop a {
    font-size: 16px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #navbarButtons, #navPhoneButton, #navOrderButton {
    font-size: 17px;
  }
  #navbarButtons ul {
    height: inherit;
  }
  .nav-item .dropdown-menu {
    font-size: 14px;
  }
  #navOrderButton {
    background-color: #343A40;
    border: 1px solid transparent;
  }
  #heroButton a {
    font-size: 16px;
  }
  #homeInfo h2, #aboutUs h3 {
    font-size: 18px;
  }
  .open-hours-home li, #custormerReview p, #aboutUs p {
    font-size: 15px
  }
  .open-hours-home li span {
  font-size: 12px;
  }
  #verticalMenuNav h1 {
  font-size: 28px;
  }
  #switchMenu {
  font-size: 14px;
  }
  #v-pills-tab .nav-link, #menuDownload {
  font-size: 16px;
  }
  #goToTop a {
    font-size: 20px;
  }
  .contact-container h5 {
  font-size: 18px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #navOrderButton:hover {
    background-color: #23272B;
    border-color: #1D2124;
  }
  #copy h1 {
    font-size: 27px;
  }
  #heroButton a, #homeInfo h2, #aboutUs h3 {
    font-size: 22px;
  }
  .open-hours-home li, #custormerReview p, #aboutUs p {
    font-size: 19px
  }
  .open-hours li span {
  font-size: 16px;
  }
  .social-media-links i {
    font-size: 1.2rem;
  }
  #verticalMenuNav h2 {
  font-size: 1.5rem;
  }
  #v-pills-tab .nav-link {
    font-size: 20px;
  }
  #verticalMenuNav h1 {
  font-size: 30px;
  }
  #switchMenu {
  font-size: 18px;
  }
  #menuDownload {
  font-size: 18px;
  }
  #goToTop a {
    font-size: 24px;
  }
  .contact-container h5 {
  font-size: 22px;
  }
  #contactDetailsList, #location p {
  font-size: 19px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #copy h1 {
    font-size: 35px;
  }
  #heroButton a, #homeInfo h2, #aboutUs h3 {
    font-size: 27px;
  }
  .contact-container h5 {
  font-size: 27px;
  }
}

/* Landscape mode */
@media (min-aspect-ratio: 3/4) {
  #menuDownload br {
    display: none;
  }
}

/* Extra small and Small device with large height */
@media (min-height: 700px) and (max-width: 767px) {
  #navbarButtons .nav-item {
  padding-top: .5rem;
  padding-bottom: .5rem;
  }
}
