/* Styles provided from Jumborton template */
/*.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*/
/* End of styles provided from Jumborton template */


nav.navbar {
  padding: 0 5% 0;
  background-color: rgba(157, 0, 0, 0.9);
}

.navbar .navbar-brand {
  position: relative;
  left: 50%;
  margin-left: -75px
}

.container {
  padding: 0px;
}
.navbar-nav, #copy h1 {
  white-space: nowrap;
}

#menuBarToggler {
  position: absolute;
  left: 5%;
  top: 12px;
}

#navbarsExampleDefault {
  font-size: 16px;
  text-align: center;
}

.nav-item .dropdown-menu {
  font-size: 14px;
  padding: 0px;
}

.nav-item .dropdown-menu .dropdown-item {
  padding-left: 18px;
  padding-right: 18px;
}

#navOrderButton {
  background: none;
  border: none;
}

#navPhoneButton, #navOrderButton {
  font-size: 16px;
}


#phone, #searchFromToggler {
  border: none;
}


form .form-control {
  position: relative;
  font-size: 16px;
}

.form-control i {
  position: absolute;
  left: 10px;
  top: 10px;
}

#hero {
  border-radius: 0;
  background-color: black;
  padding: 80px 5% 80px;
  position: relative;

}

#copy {
  text-align: center;
  margin: auto 0px;
  padding: 0px;
  position: static;
}

#copy h1 {
  font-size: 25px;
  color: #8B7A53;
}
#heroButton {
  position: absolute;
  bottom: 12px;
  left: 50%;
  margin-left: -215px;
}
#heroButton a {   /* Buttons on the Jumbotron */
  color: white;
  background-color: #8B7A53;
  border: none;
  font-size: 28px
}

#menuCarousel .carousel-caption {
  text-align: left;
  top: 0px;
  left: 8%;
}

#homeInfo {
  padding: 0px 5% 0px;
}

/* --Media query----------------------------------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #searchForm .form-control {
      width: 100%;
  }
  /* #heroButton a {
    font-size: 35px;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #searchForm .form-control {
      width: 100%;
  }
  #hero {
    padding-bottom: 15px;
  }
  #copy h1 {
    font-size: 25px;
  }
  #heroButton a, .carousel-caption h5 {
    font-size: 18px;
  }

  #heroButton {
    position: static;
    margin-left: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #navOrderButton {
    background-color: #343A40;
    border-color: #343A40;
  }
  .navbar .navbar-brand {
    position: static;
    margin-left: 0;
  }
  #hero {
    padding-bottom: 15px;
  }
  #copy h1 {
    font-size: 32px;
  }
  #searchForm {
    position: absolute;
    right: 5%;
    top: 12px;
  }
  #heroButton a, .carousel-caption h5 {
    font-size: 22px;
  }
  #heroButton {
    position: static;
    margin-left: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #navOrderButton {
    background-color: #343A40;
    border-color: #343A40;
  }
  .navbar .navbar-brand {
    position: static;
    margin-left: 0;
  }
  #searchForm {
    position: absolute;
    right: 5%;
    top: 12px;
  }
  #hero {
    padding-bottom: 15px;
  }
  #copy h1 {
    font-size: 37px;
  }
  #heroButton a, .carousel-caption h5 {
    font-size: 27px;
  }
  #heroButton {
    position: static;
    margin-left: auto;
  }
}
