/* Styles provided from Jumborton template */
/*.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*/
/* End of styles provided from Jumborton template */


nav.navbar {
  padding: 0 5% 0;
  background-color: #890000;
}

.container {
  padding: 0px;
}
.navbar-nav, #copy h1 {
  white-space: nowrap;
}

#navbarsExampleDefault {
  font-size: 16px;
  text-align: center;
}

.nav-item .dropdown-menu {
  font-size: 16px;
  background-color: #8B7A53;
  padding: 0px;
}

.nav-item .dropdown-menu .dropdown-item {
  color: white;
  padding-left: 18px;
  padding-right: 18px;
}

#navPhoneButton, #navOrderButton {
  font-size: 16px;
}

form .form-control {
  position: relative;
  font-size: 16px;
  width: auto;
}

.form-control i {
  position: absolute;
  left: 10px;
  top: 10px;
}

#hero {
  background-color: black;
  padding: 80px 5% 15px;

}

#copy {
  text-align: center;
  margin: auto 0px;
  padding: 0px;
}

#copy h1 {
  font-size: 25px;
  color: #8B7A53;
}

#copy a {   /* Buttons on the Jumbotron */
  color: white;
  background-color: #8B7A53;
  border: none;
}

#menuCarousel .carousel-caption {
  text-align: left;
  top: 0px;
  left: 8%;
}

#homeInfo {
  padding: 0px 5% 0px;
}

/* --Media query----------------------------------- */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #heroButton a, .carousel-caption h5 {
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #copy h1 {
    font-size: 25px;
  }
  #heroButton a, .carousel-caption h5 {
    font-size: 18px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #copy h1 {
    font-size: 32px;
  }
  #heroButton a, .carousel-caption h5 {
    font-size: 22px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #copy h1 {
    font-size: 37px;
  }
  #heroButton a, .carousel-caption h5 {
    font-size: 27px;
  }
}
