.backofmenubar {
	position: fixed;
	top: 0px;
/*	left: 0px;*/
	background-color: black; 
	opacity: 0.5;
	z-index: 1000;                 /*z-index 10*/
}

.navbar-nav li{
	/*position: fixed;
	top: 0px;
	float: left;*/
	font-size: 18px;
	/*margin-top: 27px;*/
	z-index: 1001;
}

.navbar-nav a {
	/*position: relative;
	display: inline-block;*/
	text-decoration: none;
	color: white;
	letter-spacing: 1.2px;
}

.top {
	margin-left: 34px;
}

.top a:hover {
	opacity: 0.7;
	transition: all 0.4s;
}


.news {
	margin-left: 123px;
}

.news a:hover {
	opacity: 0.7;
	transition: all 0.4s;
}

.biography {
	margin-left: 226px;
}

.biography a:hover {
	opacity: 0.7;
	transition: all 0.4s;
}

.movie {
	margin-left: 391px; 
}

.movie a:hover {
	opacity: 0.7;
	transition: all 0.4s;
}

.lyric {
	margin-left: 505px;
}

.lyric a:hover {
	opacity:0.7;
	transition: all 0.4s;
}

.store {
	margin-left: 613px;
}

.store a:hover {
	opacity: 0.7;
	transition: all 0.4s;
}

.menubar-lines p{
	width: 1px;
	height: 14px;
	margin-top: -20px;
	background-color: white;
	position: fixed;
    z-index: 1001;
}

.v_line_fix1 {
	margin-left: 97px;
}

.v_line_fix2 {
	margin-left: 201px;
}

.v_line_fix3 {
	margin-left: 365px;
}

.v_line_fix4 {
	margin-left: 478px;
}

.v_line_fix5 {
	margin-left: 590px;
}

.main {
/*	border: 1px white solid;*/
	position: relative;
	background-color: #222222;
	border: 1px none solid;
/*	width: 1368px;*/
	height: 5880px;
}

p.mattyimage img {
	position: absolute;
	margin-top: 0px;
	margin-left: 180px;  
	z-index: 1;              /*z-index: */
	float: left;
	width: 450px;
}

.title {
	position: relative;
	border: 1px none solid;
	top: 170px;
	left: 690px;
	width:530px;
    height: 400px;
}

.the {
/*	float: left;*/
    position: absolute;
	font-size: 47px;
	letter-spacing: 20.04px;
	font-family: "HGP明朝B";
}

.bandname {
   position: absolute;
   left: 201.5px;
   font-size: 47px;
   letter-spacing: 20.04px;
}

.title p {
  position: absolute;
  top: 30%;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
/*  font-family: 'Noto Serif JP', serif;*/
/*  margin-left: 100px;*/
  letter-spacing: 2px;
  line-height: 2.4;
}

.border-of-the-1975 {
	position: relative;
	border: 1px none solid;
	top: 600px;
	left: 42px;
	width: 1100px;
	height: 434px; 
}

p.the-1975-background img{
	position: absolute;
	width: 838px; 
	height: 434px;
	object-fit: cover;
	width: 800px;
	opacity: 0.13;
}

p.the-1975-jacket img{
	position: relative;
	left: 65%;
	top: 20px;
/*	align-items: center;*/
}

.first-album-title {
  position: absolute;
  font-size: 37px;
  left: 425px;
  display: flex;
  align-items: center; 
  top: 45px;
  letter-spacing: 3px;
}
.first-album-title:before {
  position: absolute;
  right: 180px; 
  border-top: 1px solid;
  content: "";
  width: 310px; /* 線の長さ */
  margin-right: 1em; /* 文字の右隣 */
}
 
.border-of-paragraph-of-the-1975 {
	position: absolute;
	top: 120px;
	left: 90px;
	border: 1px none solid;
	width: 530px;
	height: 338px;
	z-index: 200;
}

.paragraph-of-the-1975 {
	line-height: 2.5;
	letter-spacing: 3px;
	font-size: 14px;
}

.reference-of-paragraph-of-the-1975 {
	position: absolute;
	line-height: 1.3;
	float: left;
	text-align: right;
	font-size: 9px;
	top: 260px;	
	left: 87px;
	letter-spacing: 1px
}

.border-of-i-like-it {
	position: relative;
/*	border: 1px white solid;*/
	top: 800px;
/*	width: 1368px;*/
	height: 541px;
}

p.jacket-of-i-like-it img{
	position: absolute;
	top: 50px;
	left: 90px;
	float: left;
	width: 401px;
	height: 401px;
	opacity: 100;
	z-index: 100;
}

p.background-of-i-like-it img{
	position: absolute;
	top: 20px;
	left: 460px;
	object-fit: cover
	width: 719px;
	height: 455px;
}

.border-of-paragraph-of-i-like-it {
	position: relative;
	border: 1px none solid;
	width: 600px;
	height: 390px;
	top: 80px;
	left: 570px;
}

.second-album-title {
  position: absolute;
  font-size: 27px;
/*  left: 425px;*/
  display: flex;
  align-items: center; 
  top: 0px;
  letter-spacing: 3px;
  line-height: 1.2;
}

.second-album-title:after {
  position: absolute;
  left: 290px;
  top: 80px; 
  border-top: 1px solid;
  content: "";
  width: 250px; /* 線の長さ */
  margin-left: 1em; /* 文字の右隣 */
}

.paragraph-of-i-like-it {
	position: absolute;
	font-size: 14px;
	top: 120px;
	letter-spacing: 2.5px;
	line-height: 2.5;
}

.reference-of-i-like-it {
/*	position: absolute;*/
	float: right;
	font-size: 9px;
	margin-top: 320px;
}

.border-of-brief {
	position: relative;
	border: 1px none solid;
	top: 940px;
	height: 554px;
}

p.background-of-brief img{
	position: absolute;
	float: left;
	width: 821px;
	height: 509px;
	left: 50px;
}

p.jacket-of-brief img{
	position: absolute;
	float: left;
	width: 401px;
	height: 401px;
	left: 760px;
	top: 50px;
}

.border-of-paragraph-of-brief {
	position: absolute;
	border: 1px none solid;
	width: 597px;
	height: 347px;
	top: 85px;
	left: 100px;
}

.third-album-title {
  position: absolute;
  font-size: 27px;
  text-align: right;
/*  left: 425px;*/
  display: flex;
  align-items: center; 
  top: 0px;
  left: 300px;
  letter-spacing: 3px;
  line-height: 1.2;
}

.third-album-title:before {
  position: absolute;
  right: 290px;
  top: 16px;
  border-top: 1px solid;
  content: "";
  width: 280px; /* 線の長さ */
  margin-right: 1em; /* 文字の右隣 */
}

.paragraph-of-brief {
	position: absolute;
	font-size: 14px;
	letter-spacing: 2.5px;
	line-height: 2.5;
	top: 130px;
}

.reference-of-brief {
/*	position: absolute;*/
	float: right;
	font-size: 9px;
	margin-top: 280px;
}

.border-of-notes {
	position: relative;
	border: 1px none solid;
	top: 1100px;
/*	width: 1368px;*/
	height: 541px;
}

p.jacket-of-notes img{
	position: absolute;
	top: 30px;
	left: 90px;
	float: left;
	width: 390px;
	height: 390px;
	opacity: 100;
	z-index: 100;
}

p.background-of-notes img{
	position: absolute;
	top: 0px;
	left: 400px;
	object-fit: cover
	width: 793px;
	height: 463px;
}

.border-of-paragraph-of-notes {
	position: relative;
	border: 1px none solid;
	width: 620px;
	height: 390px;
	top: 70px;
	left: 560px;
}

.fourth-album-title {
  position: absolute;
  font-size: 29px;
/*  left: 425px;*/
  display: flex;
  align-items: center; 
  top: 0px;
  letter-spacing: 3px;
  line-height: 1.2;
}

.fourth-album-title:after {
  position: absolute;
  left: 445px;
  top: 18px; 
  border-top: 1px solid;
  content: "";
  width: 150px; /* 線の長さ */
  margin-left: 1em; /* 文字の右隣 */
}

.paragraph-of-notes {
	position: absolute;
	font-size: 14px;
	top: 80px;
	letter-spacing: 2.5px;
	line-height: 2.5;
}

.reference-of-notes {
/*	position: absolute;*/
	float: right;
	font-size: 9px;
	margin-top: 320px;
}

.MOST {
	position: relative;
	font-size: 204px;
	top: 1070px;
	right: 140px;
	letter-spacing: 50px;
	color: transparent;
	opacity: 0.1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.border-of-video {
	position: relative;
	border: 1px none solid;
	height: 438px;
	top: 1100px;
}

p.grey img{
/*	position: absolute;*/
	float: left;
	margin-left: 90px;
	width: 614px;
	height: 405px;
	z-index: -10;
}

p.pink img{
	position: absolute;
	left: 624px;
	width: 541px;
	height: 405px;
	z-index: 0;
}

.grey-paragraph{
	position: absolute;
	border: 1px none solid;
	width: 470px;
	height: 300px;
	font-color: white;
	font-size: 21px;
	top: 100px;
	left: 160px;
}

.video-title {
	position: absolute;
	letter-spacing: 1.5;
	line-height: 1.3;
}

.video-explanation {
	position: absolute;
	font-size: 14px;
	top: 90px;
	letter-spacing: 1.5;
	line-height: 2;
}

.pink-paragraph {
	position: absolute;
	border: 1px none solid;
	top: 30px;
	left: 725px;
	width: 413px;
	height: 500px;
}

.video {
	font-size: 31px;
	text-align: center;
	letter-spacing: 1.7px;
	margin-top: 10px;
}

.YouTube {
	position: absolute;
	top: 65px;
	left: 0px;
}

.view-more {
/*	position: absolute;*/
    text-align: right;
    margin-right: 47px;
    margin-top: 259px;
}

.arrow1{
  position: absolute;
  display: inline-block;
  padding-left: 20px;
} 

.arrow1::before{
	position: absolute;
	content: '';
    width: 6px;
    height: 6px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 500;
    top: -11px;
    left: 372px;
}

.MODERNWAY {
	position: relative;
	font-size: 204px;
	top: 1200px;
	right: 140px;
	letter-spacing: 50px;
	color: transparent;
	opacity: 0.1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.background-of-store-page {
	position: relative;
	height: 994px;
	top: 1130px;
	background-color: rgba(94,94,94,0.3);
/*	opacity: 0.3;*/
	z-index: 99;
}

.background-of-store-page-title {
	position: relative;
	background-color: white;
	top: 150px;
	width: 435px;
	height: 130px;
	opacity: 1;
	z-index: 100;
}

.text-store {
	position: absolute;
	color: black;
/*	background: black;*/
	font-size: 51px;
	top: 40px;
	left: 160px;
	z-index: 101;
	letter-spacing: 6px;
}

.t-shirts {
	position: relative;
	border: 1px none solid;
	top: 70px;
	height: 700px;
	left: 110px; 
	display: flex;
	justify-content: flex-start;
}

.t-shirt {
	margin-right: 105px;
}

.title-t-shirt {
	font-size: 18px;
}

.t1 {
/*	position: absolute;*/
	margin-top: 334px;
}

.t1:hover {
	opacity: 0.7;
	transition: all 0.4s;
	cursor: pointer;
	cursor: hand;
}

.t1-explanation {
	position: absolute;
	top: 620px;
	line-height: 1.5;
}

.t1-explanation:hover {
	opacity: 0.7;
	transition: all 0.4s;
	cursor: pointer;
	cursor: hand;
}

.t2 {
/*	position: absolute;*/
    margin-top: 230px;
}

.t2:hover {
	opacity: 0.7;
	transition: all 0.4s;
	cursor: pointer;
	cursor: hand;
}

.t2-explanation {
	position: absolute;
	top: 520px;
	left: 383px;
	line-height: 1.5;
}

.t2-explanation:hover {
	opacity: 0.7;
	transition: all 0.4s;
	cursor: pointer;
	cursor: hand;
}

.t3 {
/*	position: absolute;*/
	margin-top: 120px;
}

.t3:hover {
	opacity: 0.7;
	transition: all 0.4s;
	cursor: pointer;
	cursor: hand;
}

.t3-explanation {
	position: absolute;
	top: 415px;
	left: 765px;
	line-height: 1.5;
}

.t3-explanation:hover {
	opacity: 0.7;
	transition: all 0.4s;
	cursor: pointer;
	cursor: hand;
}







.arrow2 {
  position: absolute;
  display: inline-block;
  padding-left: 20px;
}

.arrow2::before{
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 2px white;
  border-right: solid 2px white;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 55px; 
  left: 1127px;
}

.view-more2 {
	float: right;
	margin-top: 63px;
	margin-right: 140px;
}

.view-more2, .arrow2 {
	position: relative;
	text-decoration: none;
	color: white;
}

.view-more2:hover, .arrow2:hover {
	opacity: 0.7;
	transition: all 0.4s;
	cursor: pointer;
	cursor: hand;
}

.border-of-blog {
	position: relative;
	border: 1px none solid;
	top: 1270px;
	height: 200px;
}

.blog {
	position: absolute;
	left: 50px;
	z-index: 99;
}

.blog-shadow {
	position: absolute;
	left: 50px;
	z-index: 100;

}

.news {
/*	position: absolute;*/
	float: right;
	margin-right: 50px;
	z-index: 97;

}

.news-shadow {
	position: absolute;
    left: 591px;
    z-index: 98;
}

.blog-box-outside {
	position: relative;
	border: 1px #707070 solid;
	width: 155px;
	height: 59px;
	top: 50px;
	left: 250px;
	z-index: 100;
}

.blog-box-inside {
	position: absolute;
    border: 1px #707070 solid;
    width: 145px;
    height: 49px;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);    
}

.text-blog {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
	font-size: 26px;
}

.text-blog:hover {
	opacity: 0.7;
	transition: all 0.4s;
	cursor: pointer;
	cursor: hand;
}

.news-box-outside {
	position: relative;
	border: 1px #707070 solid;
	width: 155px;
	height: 59px;
	top: -15px;
	left: 850px;
	z-index: 100;
}

.news-box-inside {
	position: absolute;
    border: 1px #707070 solid;
    width: 145px;
    height: 49px;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);    
}

.text-news {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
	font-size: 26px;
}

.text-news:hover {
	opacity: 0.7;
	transition: all 0.4s;
	cursor: pointer;
	cursor: hand;
}

.SNS {
	position: relative;
	background-color: black;
	width: 178px;
	height: 47px;
	float: right;
	bottom: 0%;
	top: 1323px;
}

.footer { 
/*	position: relative;*/
    display: table;
    width: 100%;
	background-color: black;
	height: 100px
/*	margin-top: auto;*/
}


.label {
/*	position: absolute;*/
	font-size: 16px;
/*	display: table-cell;
    vertical-align: middle;*/
    line-height: 60px;
    margin-left: 20px;
/*	top: 50%;
	-webkit-transform : translate(-50%,-50%);*/
/*    transform : translate(-50%,-50%);*/
}

.news-letter {
/*	position: absolute;*/
	background-color: white;
	color: #818181;
	font-size: 14px;
	height: 30px;
	padding: 20px;
	text-align: center;
}

.copy-right {
	background-color: white;
	color: #818181;
	font-size: 9px;
	text-align: center;
	padding-bottom: 10px;
}




/*.title-border {
display: flex;
align-items: center;
}
.title-border:before {
border-top: 1px solid;
content: "";
flex-grow: 1;
margin-right: 1rem;
display: flex;
align-items: center;
}

*/





/*.morning {
	position: relative;
	margin-
}*/


/*.hello {
	position: absolute;
	bottom: 40px;*/
/*    right: 100px;*/
/*    left: 900px;*/ 